.container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}
.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: auto;
}
.description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: auto;
  max-width: 5000ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#button {
  border: none;
  background-color: #1c1919;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: auto;
  width: fit-content;
}

#button:hover {
  opacity: 0.9;
  transition: 0.2s;
}

.card-body {
  display: flex;
  flex-direction: column;

  position: relative;
}
