.inputContainer {
  width: 30rem;
}

.inputSearch {
  width: 100%;
  border: 2px solid #1c1919;
  border-radius: 0.5rem;
  padding: 0.8rem 1.2rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: auto;

  background-image: url(../../assets/searchicon.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.inputSearch::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: auto;
}
input:focus {
  outline: none;
}

.dataResult {
  width: 300px;
  height: 120px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
  overflow: hidden;
  overflow-y: auto;

  position: absolute;
  z-index: 500;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

.Search {
  position: relative;
}
