.container {
  max-width: 90rem;
  margin: 0 auto;
}

.HeaderNav {
  width: 100%;
  padding: 8rem 2rem 0 2rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
